node_modules/
dist/
release/
public/monaco-editor/
.DS_Store
*.tsbuildinfo
vite.config.js
vite.config.d.ts
tailwind.config.js
tailwind.config.d.ts
doc/
src-tauri/target/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
